DATABASE_URL=
ALLOWED_ORIGIN=https://your-app.vercel.apppostgresql://USERNAME:PASSWORD@HOST/DATABASE?sslmode=verify-full

JWT_SECRET=

OWNER_EMAIL=
OWNER_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=