.landingContainer {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.customersTitle {
  font-size: 42px;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}
